.IconButton-btn {
  color: rgb(5, 188, 82);
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  width: 179px;
  height: 52px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  cursor: pointer;
}
.IconButton-btn svg {
  color: #000;
}

.icon-add-button {
  color: rgb(5, 188, 82);
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  width: 179px;
  height: 52px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  cursor: pointer;
  border: none;
  svg {
    color: #000;
  }
}
